.dropdown {
  position: relative;

  .btn {
    width: 200px;
  }

  .options-ul {
    position: absolute;
    width: 100%;
    top: 32px;
    max-height: 150px;
    overflow-y: scroll;
    border: 2px solid #cc0033;
    background: #fff;
    border-radius: 12px;
    padding: 0;
    list-style: none;

    li {
      height: 32px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #cc0033;
      margin: 12px;
      padding-left: 6px;
      box-sizing: border-box;

      &:hover {
        cursor: pointer;
        font-weight: bold;
      }

      &:last-child {
        border: 0;
      }
    }
  }
}
