.homeDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .text-color {
    color: #cc0033;
  }

  .content {
    position: relative;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .companyName {
      margin-top: 0;
    }
  }
}
