.card {
  position: relative;
  height: 300px;
  width: 200px;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 28px;
    background: rgba(0, 0, 0, 0);
    transition: 0.3s;

    &__show {
      background: rgba(0, 0, 0, 0.5);
    }
  }

  .name {
    font-weight: bold;
  }

  &__one {
    border: 3px solid #cc0033;
  }
  &__two {
    border: 3px solid #3333ff;
  }
}
