<div class="table-div">
  <div class="summary-bar">
    <div class="points">
      <p class="name">Player One:</p>
      <p class="count count__one">3</p>
    </div>
    <div class="round-counter">
      <p class="label">Round:</p>
      <p class="rount-count">5</p>
    </div>
    <div class="points">
      <p class="name">Player One:</p>
      <p class="count count__two">2</p>
    </div>
  </div>
  <div class="game-div">
    <div class="battlefield">
      <div class="card card__one"></div>
      <p class="vs">VS</p>
      <div class="card card__two"></div>
    </div>
    <div class="footer">
      <button class="btn">Next round</button>
      <button class="btn" (click)="navigateToHome()">Back</button>
    </div>
  </div>
</div>
